**/*.pyc

# Eclipse IDE's project files
.project
.pydevproject
.settings
.idea

# Dirt output
dirt_out.csv

# test outputs
tests/output/*.jpg
tests/output/*.jpeg
tests/output/*.png
tests/output/*.yml
tests/output/*.yaml
tests/output/*.csv